@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp1.Data

@if (this.Authors == null)
{
    <div>
        データロード中...
    </div>
}
else
{
    <div>
        <QuickGrid Items="@Authors" Pagination="@paginationState">
            <PropertyColumn Property="@(a => a.AuthorId)" Title="著者ID" Sortable="true" />
            <TemplateColumn Title="著者名" Sortable="true" SortBy="@(GridSort<Author>.ByAscending(a => a.AuthorFirstName).ThenAscending(a => a.AuthorLastName))">
                @(context.AuthorFirstName) @(context.AuthorLastName)
            </TemplateColumn>
            <PropertyColumn Property="@(a => a.Phone)" Title="電話番号" Sortable="true" />
            <PropertyColumn Property="@(a => a.State)" Title="州" Sortable="true" />
            <TemplateColumn Title="契約有無" Sortable="true" SortBy="@(GridSort<Author>.ByAscending(a => a.Contract))">
                <input type="checkbox" disabled value="@(context.Contract)" />
                @(context.Contract ? "契約あり" : "契約なし")
            </TemplateColumn>
        </QuickGrid>

        <!-- 表示するページを、paginationState データを介して連携 -->
        <Paginator State="@paginationState" />
    </div>
}

@code {
    [Parameter]
    public IQueryable<Author>? Authors { get; set; }

    private readonly PaginationState paginationState = new() { ItemsPerPage = 10 };
}
