@page "/Sample02"
@using BlazorApp1.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid

@* アプリケーションサービス *@
@inject IDbContextFactory<PubsDbContext> DbFactory

<h3>Sample02 : 列カスタマイズ</h3>
<!-- https://aspnet.github.io/quickgridsamples/columns -->

@if (authors == null)
{
    <div>データロード中...</div>
}
else
{
    <div>
        <!-- 自動列生成機能はないため、プロパティ列の指定が必要 -->
        <QuickGrid Items="@authors">
            <PropertyColumn Property="@(a => a.AuthorId)" Title="著者ID" />
            <TemplateColumn Title="著者名">
                @(context.AuthorFirstName) @(context.AuthorLastName)
            </TemplateColumn>
            <PropertyColumn Property="@(a => a.Phone)" Title="電話番号" />
            <PropertyColumn Property="@(a => a.State)" Title="州" />
            <TemplateColumn Title="契約有無">
                <input type="checkbox" disabled checked="@(context.Contract)" />
                @(context.Contract ? "契約あり" : "契約なし")
            </TemplateColumn>
        </QuickGrid>
    </div>
}

@code {
    // データバインドに使用する変数
    private IQueryable<Author>? authors = null;

    // ページ初期化時に呼び出されるイベントハンドラ
    protected override async Task OnInitializedAsync()
    {
        await using (var pubs = await DbFactory.CreateDbContextAsync()){
            authors = (await pubs.Authors.ToListAsync()).AsQueryable();
	    }
    }
}
